@import "theme.css";

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: var(--spacing-md);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
    margin: 0;
}

h1 {
    font-size: var(--font-size-xxl);
}

h2 {
    font-size: var(--font-size-xl);
}

h3 {
    font-size: var(--font-size-lg);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
}

button {
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border: none;
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius-md);
    cursor: pointer;
    box-shadow: var(--box-shadow-sm);
}

button:hover {
    background-color: var(--link-hover-color);
    box-shadow: var(--box-shadow-md);
}

input, textarea {
    background-color: var(--input-background-color);
    color: var(--input-text-color);
    border: 1px solid var(--input-border-color);
    padding: var(--spacing-sm);
    margin: var(--spacing-xs) 0;
    border-radius: var(--border-radius-sm);
}

input::placeholder, textarea::placeholder {
    color: var(--input-border-color);
}

hr {
    border: 1px solid var(--border-color);
    margin: var(--spacing-md) 0;
}